#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.navbar {
  width: '100%';
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.link {
    font-size: 1.3rem;
    text-decoration: none;
}
.active {
  color: rgb(31, 228, 47);
  font-weight: 700;
}
.imagen {
  width: 200px;
  height: 200px;
}
.cards-style {
  border: 1px solid;
  margin: 0.5rem;
  padding: 0.7rem 0.5rem;
  background-color: rgb(223, 193, 155);
  border-radius: 15px;
}
.card-button {
  padding: 0.4rem 3rem;
  background-color: rgb(28, 211, 156);
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
}
.card-button:hover {
  background-color: blueviolet;
  color: aliceblue;
  padding: 0.5rem 3.1rem;
}
.container-card-detail {
  width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.card-title {
  font-size: 1.1rem;
}
